.home-container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  height: 100vh;
  padding: 0 20px 20px 20px;
  box-sizing: border-box;
}

.home-title {
  font-size: 4.8em;
  margin: 0;
  padding: 16%;
  color: white;
}
