.total-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #00001E;
  color: white;
  min-height: 100vh;
  box-sizing: border-box;
}

.page-title {
  font-size: 1.6em;
  color: #434BDB;
  text-align: center;
  /* width: 60%; */
  margin: 60px 0 30px 0;
  /* padding-left: 10%; */
}

.main-container {
  width: 80%;
}

.people {
  margin-bottom: 6vw;
}

.principal-title { 
  margin: 0;
  padding-top: 48px;
  /* margin-bottom: 40px; */
  /* padding-left: 30%; */
}

.principal-title h1 {
  font-size: 1.7em;
  text-align: left;
  padding-left: 0;
}

.photo-contents {
  padding: 8px;
  display: flex;
  justify-content: flex-start
}

.principal-photo {
  width: 18vw;
  padding: 16px;
}

.principal-contents {
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  /* margin: 18px; */
}

.introduce-principal {
  font-size: 1.3em;
  margin-bottom: 30px;
}

.profile h3 {
  color: #8c8c8c;
  font-size: 1.3em;
}

.profile p {
  color: #8c8c8c;
  font-size: 1.1em;
}

.principal-media {
  width: auto;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.principal-video {
  /* width: 26vw; */
  width: 56vw;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  /* padding: 16px */
}

.principal-video h3, .principal-news h3 {
  color: #8c8c8c;
  font-size: 1.3em;
}

.videos-container {
  display: flex;
  /* flex-direction: column; */
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.profile-video {
  /* width: 100%; */
  width: 26vw;
  height: 315px;
  padding-bottom: 4px;
  border: none;
}

.principal-news {
  margin-top: 10px;
  width: 40vw;
}

/* .news-item {
  padding-bottom: 4px;
} */



.people h1 {
  font-size: 1.7em;
  text-align: left;
  padding-left: 0;
}

.photo {
  width: 13vw;
  padding: 16px;
}

.contents {
  padding-left: 16px;
}

.name-position h2 {
  color: #fff;
}

.bio-lab {
  margin-top: 3vw;
  margin-bottom: 3vw;
}

.bio-lab h1, .dev h1 {
  color: #8c8c8c;
  font-size: 1.6em;
  text-align: left;
  padding-left: 0;
}